body {
  font-family: 'Open Sans', sans-serif; /* Use Open Sans font */
    font-size: 16px; /* Set base font size */
    line-height: 1.6; 
    margin: 0;
    padding: 0;
    background-color: #A7B9E8;
    font-family: Arial, sans-serif;
    color: #435c85;
    line-height: 1.6;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #C2D4F0;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
h2 {
  font-family: 'Roboto', sans-serif; 
    font-size: 24px; 
    font-weight: 700; 
    text-align: center;
    color: #435c85;
    margin-bottom: 20px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #435c85;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #f8f9fa;
    color: #333;
    transition: border-color 0.3s
  }

 input[type="submit"],
 input[type="button"] 
   
   {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #6C8EBF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #435c85;
}
.error {
    color: #ff0000;
    font-size: 14px;
    margin-bottom: 8px;
}
.error-message{
  color: red;
}

body {
    background-color: #A7B9E8;
    font-family: 'Arial', sans-serif;
  }

  .carousel-inner {
    text-align: center;
  }

  .carousel-inner img.github-logo {
    max-width: 100%;
    max-height: 200px; 
    object-fit: contain;
    margin: 0 auto; 
    cursor: pointer; 
    position: relative;
  }

  .carousel-control-prev,
  .carousel-control-next {
    font-size: 2rem;
    color: #C2D4F0; 
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 8px;
    margin-top: -50px; 
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    margin-top: -1rem;
  }

  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .slide-number {
    background-color: rgba(0, 0, 0, 0.7);
    color: #C2D4F0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }